
@font-face {
    font-family:'bree';
    src: url(../fuentes/Bree_Serif/BreeSerif-Regular.ttf);
    font-family: 'Merriweather';
    src: url(../fuentes/Merriweather/Merriweather-Regular.ttf);
    font-family: 'Serif';
    src: url(../fuentes/PT_Serif_Caption/PTSerifCaption-Italic.ttf);
    font-family: 'Croisant';
    src: url(../fuentes/CroissantOne-Regular.ttf);
}
body {
    margin: 0;
}

                                       /*HEADER*/

.header {
    background-image: url(../imagenes/preview.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 377px;
}

.logo-y-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-y-titulo img{
    border-radius: 100%;
    margin: 1%;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}
.menu ul {
    display: flex;
    width: 50%;
    padding: 0%;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    font-size: large;
    color: #000000;
    font-family: 'Croisant';
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.alineacion {
    display: inline-block;
}

#menu-desplegable {
    display: flex;
    width: 404px;
    font-family: 'bree';
    margin-left: 1.5%;   
}

.nav {
    padding: 0%;
    margin: 0;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    background-color: #53acd2bc;
    color: #f0f8ff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: 600;
}

.nav li a:hover {
    background-color: #808080;
}

.nav > li {
    float: left;    
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.buscador {
    display:flex;
    justify-content: end;
    width: 420px;
    margin: 1%;   
}

.buscar { 
    border-radius: 9px;
    display: flex;
    width: 400px;
}

.boton {
    width: 29px;
    height: 36px;
    border-radius: 9px;
}   

                                        /*MAIN*/
.main {
    background-color: #daf1ff;       
}

h1 {
    background-color: #9ce1fe;
    font-family: 'Croisant';    
    text-align: center;
}

/*MAIN - index*/

.seccion-centrada-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "articulo1  articulo2   articulo3";
}
    #articulo-1 {
        grid-area: articulo1;
    }
    #articulo-2 {
        grid-area: articulo2;
    }
    #articulo-3 {
        grid-area: articulo3;
    }


#articulo-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articulo-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#articulo-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.imagen-index {
    display: flex;
    align-items: center;
    height: 350px;
    width: 80%;
}

.video {
    display: flex;
    justify-content: center;
}

.video iframe {   
    display: flex;
    width: 60%;
    margin: 40px 0px;
} 

.nuestras-marcas h3 {
    display: flex;
    font-family: 'Croisant';
    justify-content: center;
}

.nuestras-marcas h3 p {
    display: inline-block;
    font-size: x-large;
}

#marcas {
    display: flex;
    justify-content: center;
    width: 99%;
    margin: 1%;
}

#marcas button {
    display: inline-block;
    margin: 1%;
    width: 167px;
    height: 40px;
}
.padre-card {
    display: flex;
    justify-content: center;
}
.card {
    width: 18rem;
    margin: 1%;
}
.card a{
    color: #9ce1fe;
}

.btn-primary {
    font-family: 'Bree';
    
}

/*INDEX - SERVICIOS*/

.seccion-centrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.seccion-centrada p {
    width: 70%;
    text-align: center;
}
.seccion-centrada img {
    width: 60%;
}

/*MAIN - Sucursales*/

.grid-conteiner {
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
    "seccion1   mapa1"
    "seccion2   mapa2"
    "seccion3   mapa3";
}
    .seccion-1 {
        grid-area: seccion1;
    }
    .seccion-2 {
        grid-area: seccion2;
    }
    .seccion-3 {
        grid-area: seccion3;
    }
    .mapa-1 {
        grid-area: mapa1;
    }
    .mapa-2 {
        grid-area: mapa2;
    }
    .mapa-3 {
        grid-area: mapa3;
    }

.seccion-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.seccion-1 p {
    width: 215px;
    text-align: center;
}
.seccion-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.seccion-2 p {
    width: 215px;
    text-align: center;
}
.seccion-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.seccion-3 p {
    width: 215px;
    text-align: center;
}
.mapa-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mapa-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mapa-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.seccion-maps map iframe {
    border: 0;
    width: 400px;
}

/*MAIN - Contacto*/

.formulario-contacto {
    display: flex;
    justify-content:space-around;
}

.formulario-contacto ul {
    list-style-type: none;
    text-align: right;
}

.formulario-contacto ul li {
    padding: 5px;
}

/*MAIN - Lo que debes saber*/

#articulo-lo-que-debes-saber {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado {
    text-align: center;
    text-decoration: underline;
}

.text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.text-img p {
    width: 90%;
    display: flex;
    text-align: center;
}

#imagen-1 {
    width: 60%;
}

.imagen-2 {
    width: 60%;
}

.top-10 {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.top-10 ol {
    padding: 20px;
}
.top-10 ol li img {
    width: 50%; 
}

.seccion-lqds {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 80%;
    
}

                                        /*FOOTER*/
.logo_footer{
    
    display: inline-block;
    width: 300px;
    height: 250px;
    margin: 1%;
}

.footer {
    background-image: url(../imagenes/13844-NPB8WE.jpg);
    background-size:cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 420px ;
    grid-template-areas: 
    "info  redes horarios sucursales";
}
.logo_footer{
    grid-area: info;
}
.redessociales {
    grid-area: redes;
}
.horarios-servicios {
    grid-area: horarios;
}
.sucursales-map-servicios {
    grid-area: sucursales;
}


.datos-pagina {
    display: flex;
    width: 250px;
}

.datos-pagina p {
    display: inline-block;
    margin: 1.5% 0px 0px 0px;
}
.datos-pagina img {
    margin: 1%;
}

/*LOGO*/

.logo {
    border-radius: 50%;
    width: 200px;
    margin: 1%;
}

.ubicacion {
    width: 40px;
    border-radius: 50%;
}

div p {
    font-weight: 600;
    font-size: medium;
    font-family: 'Bree';
    color: #454545;
}

.telefono {
    width: 40px;
    border-radius: 50%;
}

.mail {
    width: 40px;
    border-radius: 40%;
}
.redes nav img {
    width: 60px;
}

.redes nav a{
    display: inline-block;
    width: 80px;
    
}
.redessociales {
    flex-direction: column;
    width: 100px;
    justify-self: center;
    display: flex;
    align-items: center;
    padding-top: 30px;
    
}

.redes {
    display: flex;
    flex-direction: column;
}

h4 {
    font-family: 'Croisant';
    width: 77%;
    margin: 1%;
    text-align: center;
    display: flex;
    
}

#facebook {
    display: flex;
    flex-direction: column;
    width: 60px;
    border-radius: 50%;
    margin: 10px 0px;
}

#instagram {
    display: flex;
    flex-direction: column;
    width: 60px;
    border-radius: 50%;
    margin: 10px 0px;
}

#telegram {
    display: flex;
    flex-direction: column;
    width: 60px;
    border-radius: 50%;
    margin: 10px 0px;
}

.sucursales-map {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    right: 33px;
    top: 97em;
}
.sucursales-map-servicios {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.sucursales {
    font-size: medium;
    text-decoration: none;
    color: black;
    font-family: 'Croisant';
}

.sucursales-servicios {
    font-size: medium;
    text-align: center;
}

h5 {
    display: flex;
    width: 100%;
    justify-content: center; 
}

.map iframe {
    
    width: 100%;
    height: 100%;
    border: 0;
}

.map {
    margin: 20px 0px;
}
/*horarios de atencion*/

.horarios {
    width: 200px;
    display: flex;
    position: relative;
    left: 798px;
    top: -650px;
    align-items: center;
    font-family: 'bree';
    font-size: medium;
    color: #454545;
    flex-direction: column;
    
}

.diasyhorarios {
    text-align: center;
    font-family: 'Bree';
    font-size: large;
}
.horarios-de-atencion {
    font-family: 'Croisant';
    height: 90px;
    text-align: center;
    display: flex;
    width: 200px;
}

.horarios-servicios {
    flex-direction: column;
    width: 100%;
    display: flex;
    padding-top: 30px;
    
    
}

.diasyhorarios-servicios {
    text-align: center;
    font-family: 'Bree';
    font-size: large;
}

.horarios-de-atencion-servicios {
    display: flex;
    width: 100%;
    height: 8%;
    justify-content: center;
}

/*Media Queries - Max width*/

/*MOBILE*/
@media (min-width: 320px) and (max-width: 480px) {
    
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 360px 190px 240px;
        grid-template-areas: 
        "info"  
        "redes" 
        "horarios" 
        "sucursales";
    }

    #menu-desplegable {
        width: 100%;
        margin: 0;
    }

    .buscador {
        width: 100%;
        margin: 0;
        justify-content: left;
    }
    .header{
        height: 100%;
        width: 100%;
    }
    .logo-y-titulo img {
        width: 100%;
        margin: 0;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .buscar {
        width: 285px;
    }
    .boton {
        width: 35px;
    }
    
    .seccion-centrada-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "articulo1"  
        "articulo2"   
        "articulo3";
    }
    .seccion-centrada p {
        width: 90%;
        text-align: justify;
    }
    .seccion-centrada strong p {
        width: 100%;
    }
    #marcas button {
        width: 55px;
        font-size: xx-small;
        height: 25px;

    }
    #marcas {
        margin: 0;
        width: 100%;
        margin: 20px 0px;
    }    
    .main-index {
        height: 100%;
    }
    .horarios-servicios {
        width: 100%;
    }
    .sucursales-map-servicios {
        width: 100%;
    }
    .video iframe {
        width: 95%;
        margin: 18px 0px;
        height: 224px;
    }
    .footer {
        height: 65em;
    }
    #articulo-1 p {
        width: 90%;
        text-align: justify;
    }
    #articulo-2 p {
        width: 90%;
        text-align: justify;
    }
    #articulo-3 p {
        width: 90%;
        text-align: justify;
    }
    .main {
        height: 100%;
    }
    .main-contactos {
        height: 20em;
    }
    .formulario-contacto {
        width: 100%;
    }
    .formulario-contacto ul {
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .button {
        text-align: center;
    }
    #imagen-1 {
        width: 80%;
    }
    #imagen-2 {
        width: 80%;
    }
    #imagen-3 {
        width: 100%;
    }
    .top-10 ol {
        padding: 17px;
    }
    .seccion-centrada p {
        text-align: justify;
    }
    .top-10 ol li img {
        width: 100%;
    }
    .grid-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "seccion1"   
        "mapa1"
        "seccion2"
        "mapa2"
        "seccion3"   
        "mapa3";
    }
    .mapa-1 {
        width: 100%;
        justify-content: center;
    }
    .mapa-1 iframe {
        width: 80%;    
    }
    .mapa-2 {
        width: 100%;
        justify-content: center;
    }
    .mapa-2 iframe {
        width: 80%;    
    }
    .mapa-3 {
         width: 100%;
        margin-bottom: 30px;
        justify-content: center;
    }
    .mapa-3 iframe {
        width: 80%;    
    }
    .logo_footer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .card-body p {
        font-size: x-small;
    }
}
/*TABLET*/
@media   (min-width: 481px) and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
          "info       redes" 
        "horarios   sucursales";
    }
    .logo_footer {
        width: 150px;
    }
    #marcas {
        margin: 0;
    }
    .map{
        margin: 0;
        width: 80%;
    }
    .sucursales-map-servicios {
        width: 100%;
    }
    .header {
        height: 100%;
    }
    .menu ul {
        width: 77%;
    }
    .imagen-index {
        height: 100%;
    }
    .seccion-centrada-index {
        font-size: small;
    }
    .seccion-centrada-index p {
        width: 90%;
    }
    .mapa-1 {
        width: 100%;
    }
    .mapa-2 {
        width: 100%;
    }
    .mapa-3 {
        width: 100%;
    }
    .mapa-1 iframe {
        width: 80%;
    }
    .mapa-2 iframe {
        width: 80%;
    }
    .mapa-3 iframe {
        width: 80%;
    }
} 