.header {
  background-image: url(../imagenes/preview.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 377px;
}

.logo-y-titulo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo-y-titulo img {
  border-radius: 100%;
  margin: 1%;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.menu ul {
  display: flex;
  width: 50%;
  padding: 0%;
  display: inline-block;
}
.menu ul li {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
}
.menu ul li a {
  text-decoration: none;
  font-size: large;
  color: black;
  font-family: "Croisant";
  padding: 10px;
}

#menu-desplegable {
  display: flex;
  width: 404px;
  font-family: "bree";
  margin-left: 1.5%;
}
#menu-desplegable .nav {
  padding: 0%;
  margin: 0;
}
#menu-desplegable .nav li {
  list-style-type: none;
  float: left;
}
#menu-desplegable .nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
#menu-desplegable .nav li a {
  background-color: rgba(83, 172, 210, 0.737254902);
  color: aliceblue;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: 600;
}
#menu-desplegable .nav li a:hover {
  background-color: grey;
}

.buscador {
  display: flex;
  justify-content: end;
  width: 420px;
  margin: 1%;
}
.buscador .buscar {
  border-radius: 9px;
  display: flex;
  width: 400px;
}
.buscador .boton {
  width: 29px;
  height: 36px;
  border-radius: 9px;
}

.footer {
  background-image: url(../imagenes/13844-NPB8WE.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 420px;
  grid-template-areas: "info  redes horarios sucursales";
}
.footer .logo_footer {
  grid-area: info;
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 1%;
}
.footer .logo_footer .logo {
  border-radius: 50%;
  width: 200px;
  margin: 1%;
}
.footer .logo_footer .datos-pagina {
  display: flex;
  width: 250px;
}
.footer .logo_footer .datos-pagina img {
  margin: 1%;
}
.footer .logo_footer .datos-pagina p {
  display: inline-block;
  margin: 1.5% 0px 0px 0px;
  font-weight: 600;
  font-size: medium;
  font-family: "Bree";
  color: rgb(69, 69, 69);
}
.footer .logo_footer .datos-pagina .ubicacion {
  width: 40px;
  border-radius: 50%;
}
.footer .logo_footer .datos-pagina .telefono {
  width: 40px;
  border-radius: 50%;
}
.footer .logo_footer .datos-pagina .mail {
  width: 40px;
  border-radius: 40%;
}
.footer .redessociales {
  grid-area: redes;
  flex-direction: column;
  width: 100px;
  justify-self: center;
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.footer .redessociales h4 {
  font-family: "Croisant";
  width: 77%;
  margin: 1%;
  text-align: center;
  display: flex;
}
.footer .redessociales .redes {
  display: flex;
  flex-direction: column;
}
.footer .redessociales .redes #facebook {
  display: flex;
  flex-direction: column;
  width: 60px;
  border-radius: 50%;
  margin: 10px 0px;
}
.footer .redessociales .redes #facebook img {
  width: 60px;
}
.footer .redessociales .redes #facebook a {
  display: inline-block;
  width: 80px;
}
.footer .redessociales .redes #instagram {
  display: flex;
  flex-direction: column;
  width: 60px;
  border-radius: 50%;
  margin: 10px 0px;
}
.footer .redessociales .redes #instagram img {
  width: 60px;
}
.footer .redessociales .redes #instagram a {
  display: inline-block;
  width: 80px;
}
.footer .redessociales .redes #telegram {
  display: flex;
  flex-direction: column;
  width: 60px;
  border-radius: 50%;
  margin: 10px 0px;
}
.footer .redessociales .redes #telegram img {
  width: 60px;
}
.footer .redessociales .redes #telegram a {
  display: inline-block;
  width: 80px;
}
.footer .horarios-servicios {
  grid-area: horarios;
  flex-direction: column;
  width: 100%;
  display: flex;
  padding-top: 30px;
}
.footer .horarios-servicios .diasyhorarios-servicios {
  text-align: center;
  font-family: "Bree";
  font-size: large;
}
.footer .horarios-servicios .horarios-de-atencion-servicios {
  display: flex;
  width: 100%;
  height: 8%;
  justify-content: center;
}
.footer .sucursales-map-servicios {
  grid-area: sucursales;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.footer .sucursales-map-servicios h5 {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: medium;
  text-align: center;
}
.footer .sucursales-map-servicios .map {
  margin: 20px 0px;
}
.footer .sucursales-map-servicios .map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/*# sourceMappingURL=style.css.map */
