.seccion-centrada-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "articulo1  articulo2   articulo3";
}

.grid-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas: "seccion1   mapa1" "seccion2   mapa2" "seccion3   mapa3";
}

.header {
  background-image: url(../imagenes/preview.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-y-titulo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo-y-titulo img {
  border-radius: 100%;
  margin: 1%;
}

.mi-bg {
  background-color: #a5ceff;
  margin: 3% 0px;
}

.footer {
  background-image: url(../imagenes/13844-NPB8WE.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 420px;
  grid-template-areas: "info  redes horarios sucursales";
}
.footer .logo_footer {
  grid-area: info;
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 1%;
}
.footer .logo_footer .logo {
  border-radius: 50%;
  width: 200px;
  margin: 1%;
}
.footer .logo_footer .datos-pagina {
  display: flex;
  width: 250px;
}
.footer .logo_footer .datos-pagina img {
  margin: 1%;
}
.footer .logo_footer .datos-pagina p {
  display: inline-block;
  margin: 1.5% 0px 0px 0px;
  font-weight: 600;
  font-size: medium;
  font-family: "Bree";
  color: rgb(69, 69, 69);
}
.footer .logo_footer .datos-pagina .ubicacion {
  width: 40px;
  border-radius: 50%;
}
.footer .logo_footer .datos-pagina .telefono {
  width: 40px;
  border-radius: 50%;
}
.footer .logo_footer .datos-pagina .mail {
  width: 40px;
  border-radius: 40%;
}
.footer .redessociales {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: redes;
  width: 100px;
  justify-self: center;
  padding-top: 30px;
}
.footer .redessociales h4 {
  font-family: "Croisant";
  width: 77%;
  margin: 1%;
  text-align: center;
  display: flex;
}
.footer .redessociales .redes {
  display: flex;
  flex-direction: column;
}
.footer .redessociales .redes #facebook {
  display: flex;
  flex-direction: column;
  width: 60px;
  border-radius: 50%;
  margin: 10px 0px;
}
.footer .redessociales .redes #facebook img {
  width: 60px;
}
.footer .redessociales .redes #facebook a {
  display: inline-block;
  width: 80px;
}
.footer .redessociales .redes #instagram {
  display: flex;
  flex-direction: column;
  width: 60px;
  border-radius: 50%;
  margin: 10px 0px;
}
.footer .redessociales .redes #instagram img {
  width: 60px;
}
.footer .redessociales .redes #instagram a {
  display: inline-block;
  width: 80px;
}
.footer .redessociales .redes #telegram {
  display: flex;
  flex-direction: column;
  width: 60px;
  border-radius: 50%;
  margin: 10px 0px;
}
.footer .redessociales .redes #telegram img {
  width: 60px;
}
.footer .redessociales .redes #telegram a {
  display: inline-block;
  width: 80px;
}
.footer .horarios-servicios {
  grid-area: horarios;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
}
.footer .horarios-servicios .diasyhorarios-servicios {
  text-align: center;
  font-family: "Bree";
  font-size: large;
}
.footer .horarios-servicios .horarios-de-atencion-servicios {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8%;
}
.footer .sucursales-map-servicios {
  grid-area: sucursales;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.footer .sucursales-map-servicios h5 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: medium;
  text-align: center;
}
.footer .sucursales-map-servicios .map {
  margin: 20px 0px;
}
.footer .sucursales-map-servicios .map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

main {
  background-color: #daf1ff;
}

h1 {
  background-color: #9ce1fe;
  font-family: "Croisant";
  text-align: center;
}

/*MAIN - index*/
.articulos-main #articulo-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articulos-main #articulo-1 .imagen-index {
  display: flex;
  align-items: center;
  width: 80%;
  height: 350px;
}
.articulos-main #articulo-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articulos-main #articulo-2 .imagen-index {
  display: flex;
  align-items: center;
  width: 80%;
  height: 350px;
}
.articulos-main #articulo-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articulos-main #articulo-3 .imagen-index {
  display: flex;
  align-items: center;
  width: 80%;
  height: 350px;
}

.video {
  display: flex;
  justify-content: center;
}
.video iframe {
  display: flex;
  width: 60%;
  margin: 40px 0px;
}

.nuestras-marcas h3 {
  display: flex;
  justify-content: center;
  font-family: "Croisant";
}
.nuestras-marcas h3 p {
  display: inline-block;
  font-size: x-large;
}

#marcas {
  display: flex;
  justify-content: center;
  width: 99%;
  margin: 1%;
}
#marcas button {
  display: inline-block;
  margin: 1%;
  width: 167px;
  height: 40px;
}

.padre-card {
  display: flex;
  justify-content: center;
}
.padre-card .card {
  width: 18rem;
  margin: 1%;
}
.padre-card .card a {
  color: #9ce1fe;
}

.btn-primary {
  font-family: "Bree";
}

/*INDEX - SERVICIOS*/
.seccion-centrada {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.seccion-centrada p {
  width: 70%;
  text-align: center;
}
.seccion-centrada img {
  width: 60%;
}

/*MAIN - Sucursales*/
.seccion-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: seccion1;
  width: 100%;
  justify-content: center;
}
.seccion-1 p {
  width: 215px;
  text-align: center;
}

.seccion-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: seccion2;
  width: 100%;
  justify-content: center;
}
.seccion-2 p {
  width: 215px;
  text-align: center;
}

.seccion-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: seccion3;
  width: 100%;
  justify-content: center;
}
.seccion-3 p {
  width: 215px;
  text-align: center;
}

.mapa-1 {
  display: flex;
  align-items: center;
  grid-area: mapa1;
  justify-content: flex-start;
}

.mapa-2 {
  display: flex;
  align-items: center;
  grid-area: mapa2;
  justify-content: flex-start;
}

.mapa-3 {
  display: flex;
  align-items: center;
  grid-area: mapa3;
  justify-content: flex-start;
}

/*MAIN - Contacto*/
.main-contacto {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.main-contacto .formulario {
  width: 50%;
  align-self: center;
}
.main-contacto .enviar {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-contacto .enviar button {
  font-family: "Merriweather";
  margin: 2% 0px;
}

/*MAIN - Lo que debes saber*/
.encabezado {
  text-align: center;
  text-decoration: underline;
}

#articulo-lo-que-debes-saber {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#articulo-lo-que-debes-saber .text-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
#articulo-lo-que-debes-saber .text-img p {
  width: 90%;
  display: flex;
  text-align: center;
}
#articulo-lo-que-debes-saber .text-img #imagen-1 {
  width: 60%;
}
#articulo-lo-que-debes-saber .seccion-lqds {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 80%;
}
#articulo-lo-que-debes-saber .imagen-2 {
  width: 60%;
}
#articulo-lo-que-debes-saber .top-10 {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
#articulo-lo-que-debes-saber .top-10 ol {
  padding: 20px;
}
#articulo-lo-que-debes-saber .top-10 ol li img {
  width: 50%;
}

/*Media Queries - Max width*/
/*MOBILE*/
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    width: 100%;
    height: 100%;
  }
  .header .logo-y-titulo img {
    width: 100%;
    margin: 0;
  }
  .header .menu ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .header #menu-desplegable {
    width: 100%;
    margin: 0;
  }
  .header .buscador {
    width: 100%;
    margin: 0;
    justify-content: left;
  }
  .header .buscador .buscar {
    width: 285px;
  }
  .header .buscador .boton {
    width: 35px;
  }
  .seccion-centrada-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "articulo1" "articulo2" "articulo3";
  }
  .seccion-centrada p {
    width: 90%;
    text-align: justify;
  }
  #marcas {
    margin: 0;
    width: 100%;
    margin: 20px 0px;
  }
  #marcas button {
    width: 55px;
    height: 25px;
    font-size: xx-small;
  }
  .main-index {
    height: 100%;
  }
  .main-index .seccion-centrada-index #articulo-1 p {
    width: 90%;
    text-align: justify;
  }
  .main-index .seccion-centrada-index #articulo-2 p {
    width: 90%;
    text-align: justify;
  }
  .main-index .seccion-centrada-index #articulo-3 p {
    width: 90%;
    text-align: justify;
  }
  .main-index .video iframe {
    width: 95%;
    height: 224px;
    margin: 18px 0px;
  }
  .main-index .card-body p {
    font-size: x-small;
  }
  .main {
    height: 100%;
  }
  .main .seccion-centrada p {
    text-align: justify;
  }
  .main-contactos {
    height: 20em;
  }
  .main-contactos .formulario-contacto {
    width: 100%;
  }
  .main-contactos .formulario-contacto ul {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .main-contactos .formulario-contacto ul .button {
    text-align: center;
  }
  #imagen-1 {
    width: 80%;
  }
  #imagen-2 {
    width: 80%;
  }
  #imagen-3 {
    width: 100%;
  }
  .top-10 ol {
    padding: 17px;
  }
  .top-10 ol li img {
    width: 100%;
  }
  .grid-conteiner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "seccion1" "mapa1" "seccion2" "mapa2" "seccion3" "mapa3";
  }
  .grid-conteiner .mapa-1 {
    width: 100%;
    justify-content: center;
  }
  .grid-conteiner .mapa-1 iframe {
    width: 80%;
  }
  .grid-conteiner .mapa-2 {
    width: 100%;
    justify-content: center;
  }
  .grid-conteiner .mapa-2 iframe {
    width: 80%;
  }
  .grid-conteiner .mapa-3 {
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
  .grid-conteiner .mapa-3 iframe {
    width: 80%;
  }
  .footer {
    height: 65em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 360px 190px 240px;
    grid-template-areas: "info" "redes" "horarios" "sucursales";
  }
  .footer .logo_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .footer .horarios-servicios {
    width: 100%;
  }
  .footer .sucursales-map-servicios {
    width: 100%;
  }
}
/*TABLET*/
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "info       redes" "horarios   sucursales";
  }
  .logo_footer {
    width: 150px;
  }
  #marcas {
    margin: 0;
  }
  .map {
    margin: 0;
    width: 80%;
  }
  .sucursales-map-servicios {
    width: 100%;
  }
  .header {
    height: 100%;
  }
  .menu ul {
    width: 77%;
  }
  .imagen-index {
    height: 100%;
  }
  .seccion-centrada-index {
    font-size: small;
  }
  .seccion-centrada-index p {
    width: 90%;
  }
  .mapa-1 {
    width: 100%;
  }
  .mapa-2 {
    width: 100%;
  }
  .mapa-3 {
    width: 100%;
  }
  .mapa-1 iframe {
    width: 80%;
  }
  .mapa-2 iframe {
    width: 80%;
  }
  .mapa-3 iframe {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
