.footer {
    background-image: $fondo-footer;
    background-size:cover;
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 420px ;
    grid-template-areas: 
    "info  redes horarios sucursales";

    .logo_footer{
        grid-area: info;
        display: inline-block;
        @include w-h (300px, 250px);
        margin: 1%;
        
        .logo {
        border-radius: 50%;
        width: 200px;
        margin: 1%;
        }
        .datos-pagina {
            display: flex;
            width: 250px;
            
            img {
                margin: 1%;
            }
            p {
                display: inline-block;
                margin: 1.5% 0px 0px 0px;
                font-weight: 600;
                font-size: medium;
                font-family: 'Bree';
                color: $gris-topo;
            }
            .ubicacion {
                @include w-b (40px, 50%);
            }
            .telefono {
                @include w-b (40px, 50%);
            }
            .mail {
                @include w-b (40px, 40%);
            }
        }
    }
    .redessociales {
        @include flex-align-direction;
        grid-area: redes;
        width: $width-total;
        justify-self: center;
        padding-top: 30px;
        
        h4 {
            font-family: 'Croisant';
            width: 77%;
            margin: 1%;
            justify-content: center;
            display: flex;
            
        }

        .redes {
            @include flex-direction;
            
            .facebook {
                @include flex-direction;
                width: 60px;
                border-radius: 50%;
                margin: 10px 0px;
                
                img {
                    width: 60px;
                }
                
                a {
                    display: inline-block;
                    width: 80px;
                }
            }
            .instagram {
                @include flex-direction;
                width: 60px;
                border-radius: 50%;
                margin: 10px 0px;
                
                img {
                    width: 60px;
                }
                
                a {
                    display: inline-block;
                    width: 80px;
                }
            }
            .telegram {
                @include flex-direction;
                width: 60px;
                border-radius: 50%;
                margin: 10px 0px;
                
                img {
                    width: 60px;
                }
                
                a {
                    display: inline-block;
                    width: 80px;
                }
            }
        }
    }
    .horarios-servicios {
        grid-area: horarios;
        @include flex-direction;
        width: $width-total;
        padding-top: 30px;
        
        .diasyhorarios-servicios {
            text-align: center;
            font-family: 'bree';
            font-size: x-large;
            margin-top: 40px;
        }
        
        .horarios-de-atencion-servicios {
            font-family: 'Croisant';
            font-size: x-large;
            @include flex-just;
            @include w-h (100%, 8%)
            
        }
    }
    .sucursales-map-servicios {
        grid-area: sucursales;
        @include flex-align-direction;
        width: $width-total;
        padding-top: 30px;
        
        h5 {
            @include flex-just;
            width: $width-total; 
            font-size: x-large;
            text-align: center;
            font-family: 'Croisant';            
        }
        
        .map {
            margin: 20px 0px;
            
            iframe {
                @include box-shadow (s-top);
                @include w-h (100%, 100%);
                border: 0;
            }
        }
    }
}





    
    



