.header {
    background-image: url(../imagenes/preview.jpg);
    background-size:cover;
    background-position: center;
    @include flex-direction;
    height: 100%;
}

.logo-y-titulo {
    @include flex-just;
    width: 100%;
    
    img {
        border-radius: 100%;
        margin: 1%;
    }
}

.mi-bg {
    background-color: #a5ceff;
    margin: 3% 0px;
}






