.header {
    background-image: $fondo-header;
    background-size:cover;
    background-position: center;
    @include flex-direction;
    height: $heith-total;
}

.logo-y-titulo {
    @include flex-just;
    width: $width-total;
    
    img {
        border-radius: 100%;
        margin: 1%;
    }
}

.mi-bg {
    background-color: $celeste-navbar;
    margin: 3% 0px;
}






