.header {
    background-image: url(../imagenes/preview.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo-y-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    
    img {
        border-radius: 100%;
        margin: 1%;
    }
}

.mi-bg {
    background-color: #a5ceff;
}






