main {
    background: rgb(95,228,255);
    background: linear-gradient(90deg, rgba(95,228,255,1) 0%, rgba(188,188,215,0.768032212885154) 50%, rgba(95,228,255,1) 100%);
}

h1 {
    background-color: $celeste-oscuro;
    font-family: 'Croisant';    
    text-align: center;
    @include box-shadow(s-top);
}

/*MAIN - index*/

.main-index {
    height: 102em;

    .articulos-main {
        margin-top: 3%;

        #articulo-1 {
            @include flex-align-direction;
            width: 80%;
            justify-self: center;
            text-align: justify;
            .imagen-index {
                @include flex-align-items;
                @include w-h (80%, 270px);
            }
            
        }

        #articulo-2 {
            @include flex-align-direction;
            width: 80%;
            justify-self: center;
            text-align: justify;
            .imagen-index {
                @include flex-align-items;
                @include w-h (80%, 270px);
            }
        }
        #articulo-3 {
            @include flex-align-direction;
            width: 80%;
            justify-self: center;
            text-align: justify;
            .imagen-index {
                @include flex-align-items;
                @include w-h (80%, 270px);
            }
        }
    }
    .video {
        @include flex-just;

        iframe { 
            @include box-shadow (s-top);  
            display: flex;
            width: map-get($width-mood, tres);
            margin: 40px 0px;
        } 
    }
    .nuestras-marcas {

        h3 {
        @include flex-just;
        font-family: 'Croisant';
        
            p {
            display: inline-block;
            font-size: x-large;
            }
        }
    }
    .marcas {
        
        #marcas {
            @include flex-just;
            width: 99%;
            margin: 1%;

            button {
            display: inline-block;
            margin: 1%;
            @include w-h (167px, 40px);
            }
        }
    }
    .padre-card {
        @include flex-just;

        .card {
        width: 30%;
        margin: 1%;
        @include box-shadow(s-rigth);

            .btn-primary {
            font-family: 'Bree';
            color: $celeste-oscuro;
            }
        }
    }
}    

/*INDEX - SERVICIOS*/

.seccion-centrada {
    @include flex-align-direction;
    width: $width-total;
    
    strong {
        width: 70%;
        text-align: justify;
    }

    p {
    width: 70%;
    text-align: justify;
    }

    img {
        margin: 3% 0px;
        width: 40%;
    }
}   

/*MAIN - Sucursales*/

.seccion-1 {
    @include flex-align-direction;
    grid-area: seccion1;
    width: $width-total;
    justify-content: center;

    p {
    width: 215px;
    text-align: center;
    }
}

.seccion-2 {
    @include flex-align-direction;
    grid-area: seccion2;
    width: $width-total;
    justify-content: center;

    p {
    width: 215px;
    text-align: center;
    }
}

.seccion-3 {
    @include flex-align-direction;
    grid-area: seccion3;
    width: $width-total;
    justify-content: center;

    p {
    width: 215px;
    text-align: center;
    }
}
 
.mapa-1 {
    @include flex-align-items;
    grid-area: mapa1;
    justify-content: flex-start;
}
.mapa-2 {
    @include flex-align-items;
    grid-area: mapa2;
    justify-content: flex-start;
}
.mapa-3 {
    @include flex-align-items;
    grid-area: mapa3;
    justify-content: flex-start;
}

/*MAIN - Contacto*/

.main-contacto {
    @include flex-direction;

    .formulario {
    width: 50%;
    align-self: center;
    }

    .enviar {
    @include flex-just;
    width: $width-total;

        button {
        font-family: 'Merriweather';
        margin: 2% 0px;
        }
    }
}

/*MAIN - Lo que debes saber*/

.encabezado {
    text-align: center;
    text-decoration: underline;
}

#articulo-lo-que-debes-saber {
    @include flex-align-direction;
    
    .text-img {
    @include flex-align-direction;
    width: $width-total;

        p {
            width: map-get($width-mood, dos);
            @include flex-just;
            text-align: center;
        }
        .imagen-1 {
            width: 50%;
            margin: 1% 0px;
        }
    }
    .seccion-lqds {
        @include flex-direction;
        text-align: justify;
        width: map-get($width-mood, dos);  
    }

    .imagen-2 {
        width: 50%;
    }
    
    .top-10 {
        width: map-get($width-mood, dos);
        @include flex-direction;
        text-align: justify;

        ol {
            padding: 20px;
           
            li {
                img {
                    width: 50%;
                }
            }
        }
    }

}
