@mixin flex-direction {
    display: flex;
    flex-direction: column;
}

@mixin w-h ($w , $h) {
    width: $w;
    height: $h;
}

@mixin flex-align-items {
    display: flex;
    align-items: center;
}
@mixin flex-align-direction {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flex-just {
    display: flex;
    justify-content: center;
}

@mixin w-b ($w, $b) {
    width: $w;
    border-radius: $b;
}

@mixin w-ta ($w, $ta) {
    width: $w;
    text-align: $ta;
}

@mixin w-just ($w, $just) {
    width: $w;
    justify-content: $just;
}

//Condicionales

@mixin box-shadow ($boxshadow) {
    @if $boxshadow == "s-rigth" {
        box-shadow: $boxshadow-1;
    }
    @else if $boxshadow == "s-left" {
        box-shadow: $boxshadow-2;
    }
    @else if $boxshadow == "s-top" {
        box-shadow: $boxshadow-3;
        }
    @else {
        box-shadow: none;
    } 
}