/*Media Queries - Max width*/

/*MOBILE*/
@media (min-width: 320px) and (max-width: 480px) {
    
    .header{
        @include w-h (100%, 100%);
        
        .logo-y-titulo img {
            width: $width-total;
            margin: 0;
        }
    }       
    .seccion-centrada-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 439px);
        grid-template-areas: 
        "articulo1"  
        "articulo2"   
        "articulo3";
    }

    .seccion-centrada {
        
        img {
            width: $width-total;
        }
        p {
        width: map-get($width-mood, uno);
        text-align: justify;
        }
    }
    
    #marcas {
        margin: 0;
        width: $width-total;
        margin: 20px 0px;
        
        button {
            @include w-h (55px, 25px);
            font-size: xx-small;
        }
    }

    .main-index {
        height: 136rem;
        
        .seccion-centrada-index {
            height: 60%;

            #articulo-1 {
                
                .imagen-index {
                    height: auto;
                }
                p {
                    @include w-ta (90%, justify);
                }
                strong {
                    width: 146px;
                }
            }
            #articulo-2 {
                
                .imagen-index {
                    height: auto;
                }
                p {
                    @include w-ta (90%, justify);
                }
                strong {
                    width: 184px;
                }
            }
            #articulo-3 {
                height: 373px;

                p {
                    @include w-ta (90%, justify);
                }
                strong {
                    width: 181px;
                }
            }
        }
        .video {
            margin: 20px 0px;
            iframe {
                @include w-h (95%, 224px);
                margin: 18px 0px;
            }
        }
        .marcas {
            margin: 20px 0px;
        }
        .padre-card {
            width: $width-total;

            .card {
                width: 40%;

                .card-body {
                    p {
                    font-size: x-small;
                    }
                }
            }
        }    
    }
    .main {
        height: $heith-total;
        
        .seccion-centrada {
        
            p {
                text-align: justify;
            }
        }
    }
    
    .main-contactos {
        height: 20em;
        
        .formulario-contacto {
            width: $width-total;
            
            ul {
                padding: 0;
                @include w-ta (100%, center);
                
                .button {
                    text-align: center;
                }
            }
        }
    }
    
    #articulo-lo-que-debes-saber {
        
        .text-img {

            .imagen-1 {
                width: 100%;
            }
        }
        .imagen-2 {
            width: $width-total;
        }
        #imagen-3 {
            width: $width-total;
        }
        .top-10 {
                
            ol {
                padding: 17px;

                li {
                    img {
                        width: 100%;
                    }
                }
            }
        }

    }
    
    .grid-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "seccion1"   
        "mapa1"
        "seccion2"
        "mapa2"
        "seccion3"   
        "mapa3";

        .mapa-1 {
            @include w-just (100%, center);
            
            iframe {
                width: 80%;    
            }
        }
        .mapa-2 {
            @include w-just (100%, center);

            iframe {
                width: 80%;    
            }
        }
        .mapa-3 {
            @include w-just (100%, center);
            margin-bottom: 30px;

            iframe {
                width: 80%;    
            }
        }

    }
    .footer {
        height: 56em;
        grid-template-columns: 1fr;
        grid-template-rows: 253px 159px 179px 265px;
        grid-template-areas: 
        "info"  
        "redes" 
        "horarios" 
        "sucursales";

        .redessociales {
            height: 155px;

            .redes-sociales {
                font-size: medium;
                text-decoration-line: underline;
            }
            .redes {
                flex-direction: row;
                width: $width-total;
                justify-content: space-around;

                .facebook {
                    margin: 3%;
                    width: auto;
                    align-items: center;
                    text-align: center;
                    a {
                        text-decoration-line: none;
                        color: #3a589b;
                    }
                }
                .instagram {
                    margin: 3%;
                    width: auto;
                    align-items: center;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration-line: none;
                        color: #f44336c2;
                    }
                }
                .telegram {
                    margin: 3%;
                    a {
                        text-decoration-line: none;
                        color: #0d6ea3;
                    }
                }
            }
        }
        .logo_footer {
            @include flex-align-direction;
            width: $width-total;
            margin: 0;
        }
        .horarios-servicios {
            width: $width-total;

            .horarios-de-atencion-servicios {
                font-size: medium;
            }
            .diasyhorarios-servicios {
                font-size: medium;

                h5 {
                    font-size: small;
                }
            }
        }
        .sucursales-map-servicios {
            width: $width-total;

            .sucursales-servicios {
                font-size: medium;
            }
        }
    }
}
/*TABLET*/
@media   (min-width: 481px) and (max-width: 768px) {
    .footer {
        height: 39em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 256px;
        grid-template-areas: 
          "info       redes" 
        "horarios   sucursales";
        
        .redessociales {
            justify-content: center;

            .redes-sociales {
                font-size: medium;
                width: 135px;
                text-decoration-line: underline;
            }
        }
        .logo_footer {
            width: 150px;
        }
        .horarios-servicios {
            justify-content: center;
            align-self: baseline;

            .horarios-de-atencion-servicios {
                font-size: medium;
                text-decoration-line: underline;
            }
            .diasyhorarios-servicios {
                font-size: medium;
                margin: 10px 0px;
            }
        }
        .sucursales-map-servicios {
            width: $width-total;
            font-size: medium;

            .sucursales-servicios {
                font-size: medium;
                color: $color-primary;
            }
            .map{
                margin: 0;
                width: 80%;
            }
        }
    }
    #marcas {
        margin: 0;
    }
    .padre-card {
        width: $width-total;

        .card {
            width: 40%;

            .card-body {
                p {
                font-size: small;
                }
            }
        }
    } 
    
    
    .header {
        height: $heith-total;
    }
    .main-index {
        height: 91em; 

        .seccion-centrada-index {
            font-size: small;

            #articulo-1 {
                strong {
                    width: 119px;
                    text-align: -webkit-center;
                }
                p {
                    width: 90%;
                }
                .imagen-index {
                    height: 160px;
                }
            }
            #articulo-2 {
                strong {
                    width: 149px;
                    text-align: -webkit-center;
                }
                p {
                    width: 90%;
                }
                .imagen-index {
                    height: 160px;
                }
            }
            #articulo-3 {
                
                strong {
                    width: 147px;
                    text-align: -webkit-center;
                }
                p {
                    width: 90%;
                }
                .imagen-index {
                    height: 160px;
                }
            }
            
        }
        .video {
            iframe {
                width: 90%;
            }
        }
        .marcas {
            margin: 2% 0px;
        }
    }    
    .grid-conteiner {
        
        .mapa-1 {
            width: $width-total;
            
            iframe {
                width: 80%;
            }
        }
        .mapa-2 {
            width: $width-total;
            
            iframe {
                width: 80%;
            }
        }
        .mapa-3 {
            width: $width-total;
            
            iframe {
                width: 80%;
            }
        }
    }
    #articulo-lo-que-debes-saber {
        
        .text-img {

            .imagen-1 {
                width: 80%;
            }
        }
        .imagen-2 {
            width: map-get($width-mood, dos);
        }
        #imagen-3 {
            width: $width-total;
        }
        .top-10 {
                
            ol {
                padding: 17px;

                li {
                    img {
                        width: 100%;
                    }
                }
            }
        }

    }
} 