/*Media Queries - Max width*/

/*MOBILE*/
@media (min-width: 320px) and (max-width: 480px) {
    
    .header{
        @include w-h (100%, 100%);
        
        .logo-y-titulo img {
            width: $width-total;
            margin: 0;
        }
        .menu {
        
            ul {
                @include flex-align-direction;
                width: $width-total;
            }
        }
        #menu-desplegable {
            width: $width-total;
            margin: 0;
        }
        .buscador {
            width: $width-total;
            margin: 0;
            justify-content: left;
            
            .buscar {
                width: 285px;
            }
            .boton {
                width: 35px;
            }
        }
    }       
    .seccion-centrada-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "articulo1"  
        "articulo2"   
        "articulo3";
    }

    .seccion-centrada {
        
        p {
        width: 90%;
        text-align: justify;
        }
    }
    
    #marcas {
        margin: 0;
        width: $width-total;
        margin: 20px 0px;
        
        button {
            @include w-h (55px, 25px);
            font-size: xx-small;
        }
    }

    .main-index {
        height: $heith-total;
        
        .seccion-centrada-index {
          
            #articulo-1 {
                p {
                    @include w-ta (90%, justify);
                }
            }
            #articulo-2 {
                p {
                    @include w-ta (90%, justify);
                }
            }
            #articulo-3 {
                p {
                    @include w-ta (90%, justify);
                }
            }
        }
        .video {
            
            iframe {
                @include w-h (95%, 224px);
                margin: 18px 0px;
            }
        }
        .card-body p {
            font-size: x-small;
        }
    }
    .main {
        height: $heith-total;
        
        .seccion-centrada {
        
            p {
                text-align: justify;
            }
        }
    }
    
    .main-contactos {
        height: 20em;
        
        .formulario-contacto {
            width: $width-total;
            
            ul {
                padding: 0;
                @include w-ta (100%, center);
                
                .button {
                    text-align: center;
                }
            }
        }
    }
    
    #imagen-1 {
        width: 80%;
    }
    #imagen-2 {
        width: 80%;
    }
    #imagen-3 {
        width: $width-total;
    }
    .top-10 {
        
        ol {
            padding: 17px;

            li {
                img {
                    width: 100%;
                }
            }
        }
    }
    
    .grid-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "seccion1"   
        "mapa1"
        "seccion2"
        "mapa2"
        "seccion3"   
        "mapa3";

        .mapa-1 {
            @include w-just (100%, center);
            
            iframe {
                width: 80%;    
            }
        }
        .mapa-2 {
            @include w-just (100%, center);

            iframe {
                width: 80%;    
            }
        }
        .mapa-3 {
            @include w-just (100%, center);
            margin-bottom: 30px;

            iframe {
                width: 80%;    
            }
        }

    }
    .footer {
        height: 65em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 360px 190px 240px;
        grid-template-areas: 
        "info"  
        "redes" 
        "horarios" 
        "sucursales";

        .logo_footer {
            @include flex-align-direction;
            width: $width-total;
            margin: 0;
        }
        .horarios-servicios {
            width: $width-total;
        }
        .sucursales-map-servicios {
            width: $width-total;
        }
    }
}
/*TABLET*/
@media   (min-width: 481px) and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
          "info       redes" 
        "horarios   sucursales";
    }
    .logo_footer {
        width: 150px;
    }
    #marcas {
        margin: 0;
    }
    .map{
        margin: 0;
        width: 80%;
    }
    .sucursales-map-servicios {
        width: $width-total;
    }
    .header {
        height: $heith-total;
    }
    .menu ul {
        width: 77%;
    }
    .imagen-index {
        height: $heith-total;
    }
    .seccion-centrada-index {
        font-size: small;
    }
    .seccion-centrada-index p {
        width: 90%;
    }
    .mapa-1 {
        width: $width-total;
    }
    .mapa-2 {
        width: $width-total;
    }
    .mapa-3 {
        width: $width-total;
    }
    .mapa-1 iframe {
        width: 80%;
    }
    .mapa-2 iframe {
        width: 80%;
    }
    .mapa-3 iframe {
        width: 80%;
    }
} 