/*Media Queries - Max width*/

/*MOBILE*/
@media (min-width: 320px) and (max-width: 480px) {
    
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 360px 190px 240px;
        grid-template-areas: 
        "info"  
        "redes" 
        "horarios" 
        "sucursales";
    }

    #menu-desplegable {
        width: 100%;
        margin: 0;
    }

    .buscador {
        width: 100%;
        margin: 0;
        justify-content: left;
    }
    .header{
        height: 100%;
        width: 100%;
    }
    .logo-y-titulo img {
        width: 100%;
        margin: 0;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .buscar {
        width: 285px;
    }
    .boton {
        width: 35px;
    }
    
    .seccion-centrada-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "articulo1"  
        "articulo2"   
        "articulo3";
    }
    .seccion-centrada p {
        width: 90%;
        text-align: justify;
    }
    .seccion-centrada strong p {
        width: 100%;
    }
    #marcas button {
        width: 55px;
        font-size: xx-small;
        height: 25px;

    }
    #marcas {
        margin: 0;
        width: 100%;
        margin: 20px 0px;
    }    
    .main-index {
        height: 100%;
    }
    .horarios-servicios {
        width: 100%;
    }
    .sucursales-map-servicios {
        width: 100%;
    }
    .video iframe {
        width: 95%;
        margin: 18px 0px;
        height: 224px;
    }
    .footer {
        height: 65em;
    }
    #articulo-1 p {
        width: 90%;
        text-align: justify;
    }
    #articulo-2 p {
        width: 90%;
        text-align: justify;
    }
    #articulo-3 p {
        width: 90%;
        text-align: justify;
    }
    .main {
        height: 100%;
    }
    .main-contactos {
        height: 20em;
    }
    .formulario-contacto {
        width: 100%;
    }
    .formulario-contacto ul {
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .button {
        text-align: center;
    }
    #imagen-1 {
        width: 80%;
    }
    #imagen-2 {
        width: 80%;
    }
    #imagen-3 {
        width: 100%;
    }
    .top-10 ol {
        padding: 17px;
    }
    .seccion-centrada p {
        text-align: justify;
    }
    .top-10 ol li img {
        width: 100%;
    }
    .grid-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "seccion1"   
        "mapa1"
        "seccion2"
        "mapa2"
        "seccion3"   
        "mapa3";
    }
    .mapa-1 {
        width: 100%;
        justify-content: center;
    }
    .mapa-1 iframe {
        width: 80%;    
    }
    .mapa-2 {
        width: 100%;
        justify-content: center;
    }
    .mapa-2 iframe {
        width: 80%;    
    }
    .mapa-3 {
         width: 100%;
        margin-bottom: 30px;
        justify-content: center;
    }
    .mapa-3 iframe {
        width: 80%;    
    }
    .logo_footer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .card-body p {
        font-size: x-small;
    }
}
/*TABLET*/
@media   (min-width: 481px) and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
          "info       redes" 
        "horarios   sucursales";
    }
    .logo_footer {
        width: 150px;
    }
    #marcas {
        margin: 0;
    }
    .map{
        margin: 0;
        width: 80%;
    }
    .sucursales-map-servicios {
        width: 100%;
    }
    .header {
        height: 100%;
    }
    .menu ul {
        width: 77%;
    }
    .imagen-index {
        height: 100%;
    }
    .seccion-centrada-index {
        font-size: small;
    }
    .seccion-centrada-index p {
        width: 90%;
    }
    .mapa-1 {
        width: 100%;
    }
    .mapa-2 {
        width: 100%;
    }
    .mapa-3 {
        width: 100%;
    }
    .mapa-1 iframe {
        width: 80%;
    }
    .mapa-2 iframe {
        width: 80%;
    }
    .mapa-3 iframe {
        width: 80%;
    }
} 