@font-face {
    font-family:'bree';
    src: url(../fuentes/Bree_Serif/BreeSerif-Regular.ttf);
    font-family: 'Merriweather';
    src: url(../fuentes/Merriweather/Merriweather-Regular.ttf);
    font-family: 'Serif';
    src: url(../fuentes/PT_Serif_Caption/PTSerifCaption-Italic.ttf);
    font-family: 'Croisant';
    src: url(../fuentes/CroissantOne-Regular.ttf);
}