//colores//
$color-primary: #000000;
$color-secundary:#f0f8ff;
$color-terciary: #808080;
$color-celeste: #daf1ff;
$celeste-oscuro:#9ce1fe;
$gris-topo:#454545;
//fonts//
$tipografia-primaria: 'bree';
$tipografia-secundaria: 'Merriweather';
$tipografia-terciaria: 'Serif';
$cuarta-tipografia: 'Croisant';
//medidas//
$width-total: 100%;