//colores
$color-primary: #000000;
$color-secundary:#f0f8ff;
$color-terciary: #808080;
$color-celeste: #daf1ff;
$celeste-oscuro:#9ce1fe;
$gris-topo:#454545;
$celeste-navbar: #a5ceff;
//fonts
$tipografia-primaria: 'bree';
$tipografia-secundaria: 'Merriweather';
$tipografia-terciaria: 'Serif';
$cuarta-tipografia: 'Croisant';
//medidas
$width-total: 100%;
$heith-total: 100%;
//Imagenes de Fondo
$fondo-footer: url('../imagenes/13844-NPB8WE.jpg');
$fondo-header: url('../imagenes/preview.jpg');
//condicionales
$boxshadow-1: 5px 8px 8px 2px $gris-topo;
$boxshadow-2: 5px 8px 8px 2px $color-secundary;
$boxshadow-3: 3px 2px 3px 3px $color-terciary;
//variables maps
$width-mood: (
//  mood        width
    uno:        90%,
    dos:        80%,
    tres:       60%,  
);

@each $mood, $width in $width-mood{
    .width-varios#{$mood} {
        width: $width;
    } 
}